  
  .news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }

  .title{
    color: white; /* Text color */
    text-shadow: 
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000,  /* Top-right shadow */
    -1px 1px 0 #000,  /* Bottom-left shadow */
    1px 1px 0 #000;   /* Bottom-right shadow */
    font-size: 18px; 
    border-radius: 20px; 
    padding: -20px; 
}
  
  .news-item h3 {
    margin: 10px 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  